body {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid;
    background-color: #081c15;
    color: #74c69d;
}

h1 {
    font-family:sans-serif;
    font-size: 3rem;
}

section {
    display: flex;
}

.player, .winner {
    display: flex;
    align-self: flex-end;
    font-size: 4rem;
    margin: 2rem;
    transition: 0.4s;
}

.newgame {
    display: flex;
    align-self: flex-start;
    font-size: 3rem;
    padding: 1rem;
    border: solid;
    color: rgb(182, 173, 167);
    background-color: #1b4332;
    margin: 2rem;
    transition: 0.2s;
}

td {
    border: solid;
    width: 7rem;
    height: 7rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1b4332;
    color: #74c69d;
}

td:hover {
    background-color: #2d6a4f;
    transition: 0.2s;
}

span {
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border: solid;
    color: #74c69d;
    background-color: #1b4332;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 3rem;
}

.char {
    transition: 0.4s;
}

.char:hover, .newgame:hover, .restart:hover {
    color: #1b4332;
    background-color: #95d5b2;
    border: solid 0.3rem;
    transition: 0.2s;
}