body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: solid;
    background-color: rgb(95, 31, 148);
}

h1 {
    font-family: cursive;
}

h2 {
    display: flex;
    align-self: flex-end;
    margin: 5rem;
    font-size: 3rem;
    padding: 1rem 0 0 0;
}

td {
    border: solid;
    width: 7rem;
    height: 7rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: gray;
}

td:hover {
    background-color: rgb(92, 91, 91);
    transition: 0.2s;
}

span {
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border: solid;
    color: rgb(182, 173, 167);
    background-color:rgb(83, 34, 34);
    display: flex;
    justify-content: center;
    align-content: center;
    width: 3rem;
}

span:hover {
    color: rgb(63, 49, 40);
    background-color:rgb(143, 119, 119);
    transition: 0.2s;
}